@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 93%);
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

a {
    color: hsl(0, 0%, 30%);
    text-decoration: none;
    margin: 0 8px;
}